@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.App-newsletter,
.App-submit {
  background-color: rgb(54, 56, 77);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 16px 16px #363636;
  width: 45%;
  height: 0;
  padding-bottom: calc(55%*9/16);
  position: relative;
}

.wrapper-newsletter,
.wrapper-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsletter-box-inside {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row-reverse;
}

.box-text-left {
  width: 55%;
  height: 90%;
  padding: 20px;
  margin-right: 20px;
}

.box-pic-right img {
  width: 100%;
}

.box-pic-right {
  width: 50%;
  height: 100%;
}

.box-pic {
  background-image: url('../src/assets/images/illustration-sign-up-desktop.svg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.icon-list img {
  margin-right: 10px;
}

.icon-list {
  display: flex;
  align-items: center;
}

.box-text-left input {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid gray;
  cursor: pointer;
}

.box-text-left label h4 {
  margin-bottom: 10px;
}

.btn-submit {
  margin-top: 10px;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background: #232742;
  box-shadow: 8px 7px 20px 0px rgb(35 39 66 / 73%);
}

.btn-submit:hover {
  background: linear-gradient(90deg, rgba(255, 84, 118, 1) 0%, rgba(255, 103, 62, 1) 100%);
  box-shadow: 8px 7px 20px 0px rgb(255 84 118 / 73%);
}

.newsletter-box-submit {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 16px 16px #363636;
  width: 30%;
  height: 0;
  padding-bottom: calc(55%*9/16);
  position: relative;
}

.submit-box {
  padding: 10px 50px 10px 50px;
}

.submit-box img {
  width: 50px;
  margin-bottom: 15px;
}

.submit-box h1,
.submit-box p {
  margin-bottom: 15px;
}

.submit-box p {
  line-height: 22px;
}

@media (max-width: 1174px) {
  .App-submit {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .newsletter-box-submit {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    position: static;
  }
}

@media (max-width: 1457px) {
  .newsletter-box-inside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .newsletter-box {
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    position: static;
  }

  .box-pic-right {
    width: 100%;
    height: 50%;
  }

  .box-pic {
    background-image: url('../src/assets/images/illustration-sign-up-mobile-tablet.png');
    background-size: cover;
  }

  .box-text-left {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
  }

  .wrapper-newsletter {
    align-items: start;
    justify-content: start;
  }
}

@media (max-width: 767px) {
  .box-pic {
    background-image: url('../src/assets/images/illustration-sign-up-mobile.png');
    background-size: cover;
  }
}

label#error-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

label#error-message p {
  color: red;
}